[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
opencv-contrib-python-headless = "*"
torch = "*"
pyyaml = "*"
union = "*"
path = "*"
numpy = "*"
scikit-image = "*"
scipy = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
pillow = ">=8.3.2"
visdom = "*"
dominate = "*"
torchvision = "*"

[requires]
python_version = "3.9"

[dev-packages]
